* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  background-color: black;

}

body {
  min-height: 100vh;
  font-family: 'Oxygen';
  overflow-y: auto;

}

.header {
  width: calc(100% - 2px);
  padding: 0 0.25em;
  color: aliceblue;
  display: inline-block;
  justify-content: flex-start;
  align-items: center;
}

.logo {
  margin-top: 1.5rem;
  width: 100px;
  height: 30px;
  float: left;

}

.nav {
  margin-top: 1.5rem;
  height: 25px;
  float: right;
  width: 7rem;
}

.input {
height: 100%;
width: 55%;
float: left;
}

.btn {
  height: 100%;
  border-radius: 0.3rem;
  color: #fff;
  background-color: red;
  float: right;
}


.hero-main {
  margin-top: 5rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  align-items: center;
  overflow-y: auto;
  font-size: 0.8rem;
  gap: 0.8rem;
}

.hero-listing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.8rem;
}

.listing-title {
  font-size: 2rem;
  display: flex;
  justify-content: center;
}


.listing-text {
  font-size: 1rem;
  display: flex;
  justify-content: center;

}

.listing-items {
  display: flex;
  gap: 0.3rem
}

.enjoy-main {
  margin-top: 5rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
 justify-content: space-between;
  overflow-y: auto;
  font-size: 0.8rem;
  gap: 0.8rem;
/* background-color: aquamarine; */
}

.enjoy-framework {
  display: flex;
  flex-direction: column;
  align-items: first baseline;
  gap: 0.8rem;
}

.framework-title {
  font-size: 2rem;
  display: flex;
  justify-content: center;
}


.framework-text {
  font-size: 1rem;
  display: flex;
  justify-content: center;

}

.item-img {

}

.hr {
  border-style: solid;
  
  border-top: 5px solid hsl(0, 0%, 45%);
  margin-top: 5rem;
  margin-bottom: 5rem;

}

  .download-main {
    margin-top: 5rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
   justify-content: space-between;
    font-size: 0.8rem;
    gap: 0.8rem;
  }
  
.download-framework {
  display: flex;
  flex-direction: column;
  align-items: first baseline;
  gap: 0.8rem;
}

.framework-title {
  font-size: 2rem;
  display: flex;
  justify-content: center;
}


.framework-text {
  font-size: 1rem;
  display: flex;
  justify-content: center;
}

.watch-main {
  margin-top: 5rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 0.8rem;
  gap: 0.8rem;
  }

.watch-main .watch-framework {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.8rem;
}

.watch-main .framework-title {
  font-size: 2rem;
  display: flex;
  justify-content:flex-start;
}


.watch-main .framework-text {
  font-size: 1rem;
  display: flex;
  justify-content: flex-start;
}

.watch-main .item-img {
}

.create-main {
  margin-top: 5rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 0.8rem;
  gap: 0.8rem;
  }

.create-main .create-framework {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.8rem;
}

.create-main .framework-title {
  font-size: 2rem;
  display: flex;
  justify-content:flex-start;
}


.create-main .framework-text {
  font-size: 1rem;
  display: flex;
  justify-content: flex-start;
}

.create-main .item-img {
}

.questions-main{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

}
.questions-tytle{

}
.questions-answers{
  margin-bottom: 10rem;

}
.create-mebership{

}
.questions-nav{
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.email-address{

}
.btn-get-started{
  border-radius: 0.3rem;
  color: #fff;
  background-color: red;
  float: right;
  padding: 0.5rem 1rem;
  }


.footer-main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}

.footer-main .footer-items {
  display: grid;
  grid-template-columns: repeat(4, 314px);
  gap: 1rem;
  font-size: 0,8rem;
}

.footer-btn {
  margin-left: 1.3rem;
  padding: 0.3rem 1.3rem;
}